# Python files
__pycache__/
*.py[cod]

# Python testing files
.coverage

# Ignore macOS Finder meta
.DS_Store
.tm_properties
.cache

# Ignore optional build / cache directory
/build
/tmp
/tmp-vanadium
/.cache
