# Python files
__pycache__/
*.py[cod]
python3.cmd

# Python testing files
.coverage
.gcs_entries

# Ignore macOS Finder meta
.DS_Store
.tm_properties
.cache

# Ignore optional build / cache directory
/build
/tmp
/tmp-vanadium
/.cache
